streamlit
pandas
numpy
langchain
langchain-core
langchain-ollama
langchain-community
langchain-huggingface
langchain-chroma
chromadb
huggingface_hub
pysqlite3-binary
deep-translator
pypdf
openpyxl
docx2txt
pymupdf4llm
langchain-text-splitters
langchain-google-genai
langchain-google-vertexai
langchain-groq

